<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Cars</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h2>List Of Products</h2>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">id</td>
                <td th:text="${product.prodName}">prodName</td>
                <td th:text="${product.prodPrice}">prodPrice</td>
            </tr>
        </table>

    </body>
</html>